* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  padding-top: 10px;
}

.toDoInput {
  all: unset;
  border-bottom: 3px solid white;
  width: 350px;
  margin-bottom: 20px;
}

.js-greeting {
  all: unset;
  border-bottom: 3px solid white;
}

.js-greeting,
.title,
.toDoInput {
  display: none;
}
.showing {
  display: block;
}

button {
  all: unset;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js-clock {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 30px;
}

.title {
  font-size: 50px;
  margin-bottom: 40px;
}

input[type="text"] {
  font-size: 30px;
}

input::placeholder {
  color: white;
}

.toDoList {
  width: 350px;
  font-size: 26px;
  font-weight: 600;
}

.toDoList li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.toDoList li span {
  margin-right: 10px;
}
