body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.js-greeting,
.title,
.toDoInput {
  display: none;
}
.showing {
  display: block;
}

button {
  all: unset;
  cursor: pointer;
}

.toDoInput {
  all: unset;
  border-bottom: 1px solid black;
}
